<div id="git-show" v-cloak>
    <div class="container">
        <div id="cloud-error" class="row">
            <div class="col-sm-6">
                <p class="text-danger" v-if="cloudError === 'repositoryNotfound'">
                    <%= __("I can't access the repository you set up") %>
                </p>
                <p class="text-danger" v-else-if="cloudError">
                    <%= __("An error occurred while processing the request. Please check the information and try again. If the error persists, please contact your administrator") %>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-right">
                <a class="btn btn-light btn-sm" :href="returnLink"><i class="far fa-arrow-alt-circle-left"></i>
                    <%= __("Back") %>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-auto">
                <span class="text-muted">Commit: </span>
                <span>

                    {{ header.commit }}</span>
            </div>
            <div class="col-auto">
                <span class="text-muted">Author: </span>
                <span>

                    {{ header.author.name }} </span>
                <span v-if="header.author.email">&lt;{{ header.author.email }}&gt;</span>
            </div>
            <div class="col-auto">
                <span class="text-muted">Date: </span>
                <span>

                    {{ header.date }}</span>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <h4>

                    {{ header.message }}
                </h4>
            </div>
        </div>
        <div class="row mt-1 mb-3">
            <div class="col">
                <span class="text-muted">Changes: </span>
                <span class="text-muted">

                    {{ diffs.length }}</span>
            </div>
        </div>

        <div class="mt-3" v-for="(item, index) in diffs">
            <div>

                {{ item.line1 }}
            </div>
            <div>

                {{ item.line2 }}
            </div>
            <div class="row border p-3" v-if="item.sizeorver">
                <div class="col">
                    <span><a href="javascript:void(0)" @click="getDetail(item.row)">
                            <%= __('There are too many differences. Click here to view details') %>
                        </a></span>
                </div>
            </div>
            <div class="row border p-3" v-else-if="item.blob">
                <div class="col">
                    <span class="text-warning">
                        <%= __('It is judged as a blob and cannot be displayed') %>
                    </span>
                </div>
            </div>
            <div class="row" v-else>
                <div class="col">
                    <pre class="prettyprint linenums">
            <code>
              {{ item.body }}
            </code>
          </pre>
                </div>
            </div>
        </div>

        <div class="row" v-if="bottomBtnShow">
            <div class="col text-right">
                <a class="btn btn-light btn-sm" :href="returnLink"><i class="far fa-arrow-alt-circle-left"></i>
                    <%= __("Back") %>
                </a>
            </div>
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>